html {
   overflow: hidden;
}

body {
   color: white;
   background-color: black;
   font-family: 'Sacramento', cursive;
   font-size: 32px;
   margin-top: 5%;
   margin-left: 20%;
   margin-right: 20%;
}

p {
   position: relative;
}

p:hover {
   animation-name: move;
   animation-duration: 2s;
   animation-fill-mode: forwards;
}

@keyframes move {
   from {left: 0;}
   to{left: 200px}
}
